title: Riffol
description: Initialization system in Rust.

tagline: Initialization system in Rust

social:
  links:
    - https://twitter.com/riboseinc
    - https://github.com/riboseinc/riffol

landing_priority: [custom_intro, software, specs, blog]

legal:
  name: Ribose Group Inc.
  tos_link: https://www.ribose.com/tos
  privacy_policy_link: https://www.ribose.com/privacy

parent_hub:
  git_repo_url: https://github.com/riboseinc/open.ribose.com
  git_repo_branch: main
  home_url: https://open.ribose.com/

collections:
  projects:
    output: false
  software:
    output: true
    permalink: /software/:path/
  specs:
    output: true
    permalink: /specs/:path/
  posts:
    output: true
    permalink: /blog/:year-:month-:day-:title/
  pages:
    output: true
    permalink: /:path/

# These are required for the theme to work:

theme: jekyll-theme-open-project
permalink: /blog/:month-:day-:year/:title/

url: https://riffol.com
github_repo_url: https://github.com/riboseinc/riffol.com

tag_namespaces:
  software:
    writtenin: "Written in"
    bindingsfor: "Bindings for"
    user: "Target user"
    interface: "Interface"
  specs:
    audience: "Audience"
    completion_status: "Status"
